# Python
__pycache__/
*.py[cod]
*.so

# Virtualenv / pipenv / poetry
.venv/
venv/
.env
*.lock

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/

# Docker
*.log
docker-compose*.yml
*.tar
**/data/output/

# Results & caches
activateTerraform/results/
kgIngestion/terraform/data/output/
kgIngestion/__pycache__/

# macOS / Linux
.DS_Store
Thumbs.db

# Others
*.log
